<!-- templates/index.html -->

{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
    <h2>About Us</h2>
    <p>Welcome to our awesome Flask app!</p>
</section>
{% endblock %}
